@import "../../../styles/variables";

.emailLink {
  @include bottomLine;
  display: flex;
  flex-direction: column;
  a {
    @include hoverTranslateY;
    display: block;
    color: $tertiary-font-color;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
  }
}
