@import "../../styles/variables";
.sectionTitle {
  @include numberedHeading;
  @include rightLine;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  margin: 1rem 0 4rem;
}
