@import "../../../styles/variables";

.heroContent {
  width: 58.33333333%;
  height: 49.35185185%;
  min-height: 53.3rem;
  min-width: 76.8rem;
  margin-right: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: $lg-border-raduis;
  background: linear-gradient(
    64.28deg,
    rgba(4, 179, 233, 0.3) 50.33%,
    rgba(0, 83, 61, 0) 90%
  );
  padding: 4%;
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > :not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__greeting {
    font-size: 1vw;
    color: $primary-color;
    text-shadow: $text-dropshadow;
  }

  &__skill {
    color: rgba(255, 255, 255, 0.7);
  }
  &__summary {
    color: rgba(255, 255, 255, 0.4);
  }
}
