@import "../../styles/variables";
.tabList {
  display: block;
  color: $white;
  font-size: max($h4-font-size, $h4-font-size + 2px);
  font-family: $number-font-family;
  margin-right: 2.4rem;
  position: relative;
  @media (max-width: $phone-sm) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
  }
  & button {
    font-size: inherit;
  }
  &__tab {
    transition: $transition;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0px 20px 2px;
    border-left: 2px solid $secondary-font-color;
    background-color: transparent;
    color: $white;
    font-size: $h4-font-size;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: $phone-sm) {
      border-left: none;
      border-bottom: 2px solid $secondary-font-color;
      min-width: 12rem;
      padding: 0px 20px;
      justify-content: center;
    }

    &:hover {
      color: $secondary-color;
      background-color: $light-primary-color;
    }

    &_highlight {
      color: $secondary-color;
      background-color: $light-primary-color;
    }
  }
}
