@import "../../../styles/variables";
.socialLink {
  @include bottomLine;
  display: flex;
  flex-direction: column;
  & a {
    @include hoverTranslateY;
    &:hover svg path {
      stroke: $secondary-color;
    }
  }
  & :not(:last-child) {
    padding-bottom: 2.4rem;
  }

  @media (max-width: $tablet) {
    flex-direction: row;
    margin-bottom: 2rem;
    & a {
      align-self: center;
    }
    & :not(:last-child) {
      padding: 0;
      margin-right: 2.4rem;
    }

    &::after {
      display: none;
    }
  }
}
