@import "../../../../styles/variables";

.projectImage {
  & img {
    max-width: 100%;
    max-height: 51.6rem;
    transition: $transition;
    opacity: 70%;
    border-radius: $border-radius;

    @media (max-width: $phone) {
      height: 100%;
    }
  }

  & img:hover {
    opacity: 100%;
  }
}
