@import "../../styles/variables";
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.2rem;
  position: fixed;
  transition: $transition;
  z-index: 999;
  backdrop-filter: blur(10px);
}
