@import "../../../styles/variables";

.navLink {
  list-style: none;
  color: $primary-font-color;
  font-size: $h4-font-size;
  display: flex;
  align-items: center;
  li {
    cursor: pointer;
  }

  a {
    font-weight: 900;
    letter-spacing: 0.16rem;
    &:hover {
      text-shadow: $navLinkDropshadow;
      color: $secondary-color;
    }
  }

  a:not(:last-child) {
    margin-right: 5rem;
  }

  &__resumeLink {
    display: inline-block;
    @include buttonStyle;
  }

  &__number {
    @include numberStyle;
  }

  @media (max-width: $tablet-sm) {
    display: none;
  }
}
