@import "../../../../styles/variables";
.aboutMeContent {
  font-size: $h3-font-size;
  width: 100%;
  color: $tertiary-font-color;
  line-height: $line-height;

  &__skillsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    list-style: none;
    margin-top: 2rem;
    font-size: $h4-font-size;
    &__item {
      @include listStyle;
    }
  }
}
