@import "../../styles/variables";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 7rem;
  padding: 1.5rem;
  text-align: center;
  color: $secondary-font-color;
  font-size: $h4-font-size;

  @media (max-width: $tablet) {
    padding: 2rem;
  }

  &__socialLink {
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }
}
