.projectSection {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;

    &__image {
      grid-column: 1 / 9;
      grid-area: 1 / 1 / -1 / 7;
    }

    &__content {
      grid-column: 8 / -1;
      text-align: right;
      grid-area: 1 / 8 / -1 / -1;
    }
  }
}
