@import "../../../styles/variables";

.projectSection {
  & &__wrapper:not(:last-child) {
    margin-bottom: 10rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;

    &__leftImage {
      grid-area: 1 / 1 / -1 / 9;
    }

    &__rightContent {
      text-align: right;
      grid-area: 1 / 8 / -1 / -1;
    }

    &__rightImage {
      grid-area: 1 / 5 / -1 / -1;
    }

    &__leftContent {
      text-align: left;
      grid-area: 1 / 1 / -1 / 6;
    }

    @media (max-width: $desktop-sm) {
      &__rightContent {
        grid-area: 1 / 6 / -1 / -1;
      }

      &__leftContent {
        grid-area: 1 / 1 / -1 / 8;
      }
    }
  }
}
